/* 06/07/2026 - start */
<style>
   .homescreen{}
   .homescreen1{
    border-collapse: collapse;
    background-color: #b3ccff;
    padding: 10px;
    width:530px;
	border-radius: 10px;	
    }	
   .spacer1{
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
    }
   .spacer2{
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px; 
	/*color: red;*/
	}
   .spacer3{
	margin-top: 0px;
	margin-bottom: 4px;
	padding: 0px;  
    }	
   .timeZone {
	margin-top:2px;
	margin-bottom:2px;
	text-align:center;
	}	
   .myDiv1{
	width: 516px;  
	background-color: #ffffff;
	border:2px light gray; 
	border-radius: 5px;
	border-collapse: collapse;
	padding: 2px;	
	}	
   .myDiv2{
	color: blue;
	display: none;   
	}	
   .ui-widget-header,.ui-state-default, ui-button {
    background:#0066cc;              
    color: #ffffff;                
    font-weight: normal;            
    }
   .mirror {
    border-collapse: collapse;
    background-color: #b3ccff;
    padding: 2px;
    width:65px;
    }
   .alertzone {
    border-collapse: collapse;
    background-color: red;
    padding: 2px;
    width:65px;
    }	
   .parent {
	display: flex;
    text-align: left; 
	padding: 2px;
    }
   .child {
    display: inline-block; 
    padding: 1rem;
    vertical-align: middle; 
    background-color: #b3ccff;
    padding-top: 1px;
    padding-bottom: 1px;		
    }	
   .btnAiMsg {
    background: #d9d9d9;
    color:  #0000ff;
    }	
   .button {
	border-radius: 5px;   
    border: none;
    color: #ffffff; 
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.4s;
    }
   .button1 {background-color: #0066cc;}        
   .button2 {background-color: #008CBA;}        
   .button3 {background-color: #008CBA;}        
   .button4 {background-color: #bf4080;}          
   .button1:hover {opacity: 0.6;color: #000000;}
   .button2:hover {opacity: 0.6;color: #000000;}
   .button3:hover {opacity: 0.6;color: #000000;}
   .button4:hover {opacity: 0.6;color: #000000;}
   .container{
    display: inline-block;
    }
   .typed-out{
    overflow: hidden;     
    white-space: nowrap;  
    animation: typing 3s steps(26, end) forwards;  
	font-weight: 400;                              
    } @keyframes typing {from {width: 0;}to {width: 100%;}} 
	div.mycontainer {
        width:520px;
        overflow:auto;
	}
    div.mycontainer div {
        width:33.3%;  
        float:left;
    }
  </style>
  /* 06/07/2026 - end */
