  <style>
   .homescreen{}
   .homescreen1{
    border-collapse: collapse;
    background-color: #b3ccff;/*#b3ccff in prod #ccccff indigo*/
    padding: 10px;
    width:530px;
	border-radius: 10px;	
    }	
   .spacer1{
	 margin-top: 4px;
	 margin-bottom: 15px;
	 padding: 0px;  
   }
    .spacer2{
	 margin-top: 0px;
	 margin-bottom: 0px;
	 padding: 0px; 
	 /*color: red;*/
	}
   .spacer3{
	 margin-top: 0px;
	 margin-bottom: 4px;
	 padding: 0px;  
   }	
   .myDiv1{
	width: 514px;  /*520 in prod*/
	background-color: #f2f2f2;/*#f2f2f2 in prod*/
	border:2px light gray; 
	border-radius: 5px;
	border-collapse: collapse;
	padding: 2px;/*2px in prod*/	
	}	
   .myDiv2{
	color: blue;
	display: none;   
	}	
   .mirror {
    border-collapse: collapse;
    background-color: #b3ccff;
    padding: 2px;
    width:65px;
    }
   .alertzone {
    border-collapse: collapse;
    background-color: red;
    padding: 2px;
    width:65px;
    }	
   .parent {
	display: flex;
    text-align: left; 
	padding: 2px;/* to be added on prod */
    }
   .child {
    display: inline-block; 
    padding: 1rem;
    vertical-align: middle; 
    background-color: #b3ccff;
    padding-top: 1px;
    padding-bottom: 1px;		
    }	
   .button {
    border-radius: 5px;   
    border: none;
    color: #ffffff;
    padding: 3px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    transition: 0.4s;
    cursor: pointer;
    }
   .button1 {background-color: #0066cc;}    
   .button2 {background-color: #008CBA;}    
   .button3 {background-color: #008CBA;}    
   .button4 {background-color: #bf4080;}       
   .button1:hover {opacity: 0.6;}
   .button2:hover {opacity: 0.6;color: #b30000;}
   .button3:hover {opacity: 0.6;color: #0000ff;}
   .button4:hover {opacity: 0.6;color: #000000;}
   .container{
      display: inline-block;
    }
   .typed-out{
      overflow: hidden;     
      white-space: nowrap;  
      animation: typing 3s steps(26, end) forwards;
	  font-weight: 400; /* normal */
	  border-radius: 3px;
    }
    @keyframes typing {
      from {background-color: #800060;} /* #800060 in prod #0000b3 blue */ 
      to {background-color: #b3ccff;}   /* #f2f2f2 */
      from {width: 0;}
      to {width: 310px} 
    } 
  </style>

