  <style>
	.homescreen1{
    border-collapse: collapse;
    background-color: #b3ccff;
    padding: 2px;
    width:520px;
    }
	.homescreen2{
    border-collapse: collapse;
    background-color: #b3ccff;
    padding: 10px;
    width:520px;
	border-radius: 10px;	
    }	
   .myDiv1{
	width: 520px;  
	background-color: #f2f2f2;
	border-radius: 5px;border:2px #f2f2f2; 
	border-collapse: collapse;
	padding: 2px;	
	}	
	.mirror {
    border-collapse: collapse;
    background-color: #b3ccff;
    padding: 2px;
    width:65px;
    }
  	.alertzone {
    border-collapse: collapse;
    background-color: red;
    padding: 2px;
    width:65px;
    }	
    .parent {
	display: flex;
    text-align: left; 
    }
    .child {
    display: inline-block; 
    padding: 1rem;
    vertical-align: middle; 
    background-color: #b3ccff;
    padding-top: 1px;
    padding-bottom: 1px;		
    }	
   .button {
	border-radius: 5px;   
    border: none;
    color: #ffffff; 
    padding: 3px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    }
   .button1 {background-color: #0066cc;} 
   .button2 {background-color: #d9d9d9;} 
   .button3 {background-color: #ac3973;}
   .button4 {background-color: #008080;} 
   .container{
      display: inline-block;
    }
   .typed-out{
      overflow: hidden;     
      white-space: nowrap;  
      animation: typing 3s steps(26, end) forwards;
	  font-weight: normal;
	  border-radius: 3px;
    }
    @keyframes typing {
      from {background-color: #800060;}  
      to {background-color: #f2f2f2;}    
      from {width: 0;}
      to {width: 310px} 
    } 
  </style>

